
<body>
    <title>Choose account type</title>


    <div style="text-align:center;">
        <div style="position:relative;  margin-bottom:1%; align-content:center;">
            <a asp-area="" asp-controller="Trainers" asp-action="Create">
                <img src="/images/personaltrainer.jpg" height="400" width="500" />
                <br />

            </a>
        </div>
        <div style="position:relative;  margin-bottom:3%; align-content:center;">
            <a asp-area="" asp-controller="Users" asp-action="Create">
                <img src="/images/student.png" height="400" width="500" />
                <br />

            </a>
        </div>

    </div>
</body>